@import _base

body
  font-family: 'Open Sans', sans-serif

h1
	color: green
 
.soccer-data
  position: absolute
  left: 120px
  right: 60px
  bottom: 0
  height: 90px
  // background-color: yellow
  z-index: 800
  
  .timeline
    position: absolute
    left: 80px
    right: 0
    top: 0
    height: 100%
    background-color: #ccc
    
    .thumb
      width: 20px
      height: 20px
      background-color: red
      position: absolute
      top: 50%
      margin-left: -10px
    
    .half
      float: left
      width: 50%
      padding: 0 20px
      
    // .half:nth-of-type(2)
    //   .node
    //     text-align: right
    
    .node
      position: relative
      top: -8px
      float: left
      width: 10%
      text-align: center
      color: yellow
      
    .node:before
      content: ""
      position: absolute
      left: 50%
      top: -5px
      width: 1px
      height: 5px
      background-color: gray
    .node:after
      content: ""
      position: absolute
      left: 50%
      bottom: -5px
      width: 1px
      height: 5px
      background-color: gray
      








